{% extends "iplstats/base.html" %}
{% block content %}
   <!-- {% comment %} <fieldset>
        <legend class=''>{{ legend }}</legend>
        {% for match in data %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <p class="mr-2" href="#"></p>
                    </div>
                    <h2><p class="article-title" href="#"></p></h2>
                    <p class="article-content">{{match}}</p>
                </div>
            </article>
        {% endfor %}
    </fieldset>{% endcomment %} -->
    <article>
        <div class="plot" id='plot-container'></div>
    </article>
    <script>
        Highcharts.chart('plot-container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Batsmen Strike Rate'
            },
            xAxis: {
                categories: [
                    {% for entry in data %}'{{ entry.delivery__batsman }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                ]
            },
            yAxis: {
                title: {text: 'Strike Rate'}
            },
            series: [{
                name: 'Batsmen',
                data: [
                    {% for entry in data %}{{ entry.strike_rate }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                
            } ]
        });
    </script>
{% endblock content%}