{% extends "iplstats/base.html" %}

{% block content %}
    <!-- {% comment %}<fieldset>
        <legend class=''>{{ legend }} In {{season}}</legend>
        {% for match in data %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h2><p class="article-title">{{ match.delivery__bowler }}</p></h2>
                    </div>
                    <h4><p class="article-content">{{ match.economy }}</p></h4>
                </div>
            </article>
        {% endfor %}
    </fieldset>{% endcomment%} -->
    <article>
        <div class="plot" id='plot-container'></div>
    </article>
    <script>
        Highcharts.chart('plot-container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Matches Played Per Season'
            },
            xAxis: {
                categories: [
                    {% for entry in data %}'{{ entry.delivery__bowler }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                ]
            },
            yAxis: {
                title: {text: 'Matches'}
            },
            series: [{
                name: 'Matches Played',
                data: [
                    {% for entry in data %}{{ entry.economy }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                
            } ]
        });
    </script>
{% endblock content %}