{% extends "iplstats/base.html" %}

{% block content %}
    <fieldset>
        <legend class=''>{{ legend }}</legend>
        {% for match in data %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <p class="mr-2" href="#">{{ match.season }}</p>
                        <small class="text-muted"></small>
                    </div>
                    <h2><p class="article-title" href="#">{{ match.winner }}</p></h2>
                    <h3><p class="article-content">{{ match.id__count }}</p></h3>
                </div>
            </article>
        {% endfor %}
    </fieldset>
{% endblock content %}