{% extends "iplstats/base.html" %}
{% block content %}
    <!-- {% comment %}<fieldset class='media'>
        <legend class=''>{{ legend }}</legend>
        {% for match in data %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <p class="mr-2" href="#">{{ match.season }}</p>
                    </div>
                    <h2><p class="article-title" href="#">{{ match.id__count }}</p></h2> 
                </div>
            </article>
        {% endfor %}
    </fieldset>{% endcomment%} -->
    <article>
        <div class="plot" id='plot-container'></div>
    </article>
    <script>
        Highcharts.chart('plot-container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Matches Played Per Season'
            },
            xAxis: {
                categories: [
                    {% for entry in data %}'{{ entry.season }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                ]
            },
            yAxis: {
                title: {text: 'Matches'}
            },
            series: [{
                name: 'Matches Played',
                data: [
                    {% for entry in data %}{{ entry.id__count }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                
            } ]
        });
    </script>
{% endblock content %}