{% extends "iplstats/base.html" %}

{% block content %}
    <fieldset>
        <legend class=''>{{ legend }} In {{season}}</legend>
        {% for match in data %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h2><p class="article-title">{{ match.delivery__bowling_team }}</p></h2>
                    </div>
                    <h4><p class="article-content">{{ match.delivery__extra_runs__sum }}</p></h4>
                </div>
            </article>
        {% endfor %}
    </fieldset>
{% endblock content %}